#Square{
    border: dashed 2px blue;
    height: 400px;
    width: 400px;
    margin: 25px;
}
.carre{
    background-color: yellow;
    width: 200px;
    height: 200px;
    margin: 90px auto;
    animation: rotatesquare 8s infinite;
    
}
@keyframes rotatesquare{
    from{transform:rotate(0deg);
        background-color: yellow;
    }
    to{transform:rotate(360deg);
        background-color: red;
    }
  }
  a{
      color: red;
      margin-left:150px
  }